.image{
    height:60em; background-size:cover; width:auto;
    background-image:url('https://media.istockphoto.com/photos/administrator-business-man-financial-inspector-and-secretary-making-picture-id1135581630?k=20&m=1135581630&s=612x612&w=0&h=ccb5-xABwm54yzOJRU4G2r7DViG5aclcdYtoFJu1Pno=');
    background-position:50% 50%;
  }